<launch>
    <machine name="detection" address="192.168.2.136" user="pi" />
    <node name="vertical_detector_node" pkg="cavity_detection" type="vertical_roi" machine="detection" />
    <node name="horizontal_detector_node" pkg="cavity_detection" type="horizontal_roi.py" machine="detection" />
    <node name="map_tracker_node" pkg="cavity_detection" type="map_tracker.py" machine="detection" />
</launch>